<ion-view class="events">

  <ion-nav-title ng-class="{'motion-in': titleMotionIn, 'motion-out': titleMotionOut}">
	 	<span ng-click="showDate()">{{title}}</span>
	</ion-nav-title>

	<ion-slide-box class="date-slider" show-pager="false">
		<ion-slide>
			Test
		</ion-slide>
		<ion-slide>
			Test
		</ion-slide>
	</ion-slide-box>


	<ion-slide-box class="game-slider" active-slide="activeSlide" on-slide-changed="slideChange($index)" show-pager="false">
	  <ion-slide ng-repeat="gameList in gameLists">
	  	<ion-content>
		  	<ion-list>
		  		<div ng-show="!gameList.length">
		  			<h1>No games today</h1>
		  			<div>Swipe or click the date title to check other dates for games</div>
		  			
		  		</div>
		  		<ion-item ng-hide="!gameList.length" id="{{game.id}}" ng-repeat="game in gameList">
						<div class="row" ng-click="">
							<div class="shelf">
								<div class="team-logo-cont team-one">
									<img class="team-logo" ng-src="assets/teams/{{game.league}}_{{game.teamOne.name}}.png"/>
								</div>

								<div class="score score-one" ng-class="{'over-under': !game.started}">{{game.teamOne.score}}</div>

								<div class="time-thuuz">
									<div class="time">{{game.dateTime * 1000 | date:'h:mma'}}</div>
									<div class="animate thuuz" ng-if="active.box == gameId">
										<div class="thuuz-title">Thuuz</div>
										<div class="thuuz-icon"><span>{{game.thuuzScore}}</span></div>
									</div>
								</div>

								<div class="score score-two" ng-class="{'over-under': !game.started}">{{game.teamTwo.score}}</div>

								<div class="team-logo-cont team-two">
									<img class="team-logo" ng-src="assets/teams/{{game.league}}_{{game.teamTwo.name}}.png"/>
								</div>

							</div>
							<div class="shelf">
								<div class="team-name">{{game.teamOne.name}}</div>
								<div class="team-name">{{game.teamTwo.name}}</div>
							</div>
						</div>
						<button ng-click="play(game.id)">Watch</button>
		  		</ion-item>
		  	</ion-list>
	  	</ion-content>
	  </ion-slide>
	</ion-slide-box>

	<div class="player">
			
	</div>
</ion-view>
