<ion-side-menus enable-menu-with-back-views="false" class="template">
  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <div class="dash-bar">
      <div class="data">
        <div class="value">1</div>
        <div class="label">Past Due</div>
      </div>
      <div class="data">
        <div class="value">2</div>
        <div class="label">Today</div>
      </div>
      <div class="data">
        <div class="value">1</div>
        <div class="label">Tomorrow</div>
      </div>
    </div>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="menu">
      <ion-list>
        <ion-item menu-close href="#/app/dashboard">
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/overview">
          Overview
        </ion-item>
        <ion-item menu-close href="#/app/trends">
          Trends
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>